@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    --color-hero-yellow: #FFDF0F;
    --color-body-red: #E8074E;
    --color-body-purple: #CE07E8;
    --color-body-dark-purple: #7C3286;
	--color-body-background: #141010;
	--color-lineahr: #B70E5A;
}

body{
	
	font-family: "Afacad", Sans-Serif;
}
h1{
	color: var(--color-body-red);
}

h3{
	color: var(--color-body-red);
}

#hero{
	padding: 5% 3%;
	padding-bottom: 2%;
	background-color: var(--color-hero-yellow);
}

.lineindex{
	
	width: 15%;
	text-align: center;
	margin-left: 39%;
	border-top: 4.5px solid var(--color-lineahr);
	opacity: 1;
	border-radius: 30px;
	
}

.btn-outline-dark{
	
	font-weight: 700;
	font-size: 23px;
	position:absolute;
	right: 64%;
	bottom: -33%;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 16px;
	border: 4px solid #000;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, 1), 6px 6px 0 rgba(0, 0, 0, 1);
	
	}

.btn-outline-dark:hover{
	
	background-color: var(--color-body-red);
	border-color: #000;
	
}	

.imgportada{
	
	margin-top: 5%;
	position: absolute;
	top: 6%;
	left: 52%;
	bottom: -10%;
}
	

#sinopsis{
	padding: 5% 3%;
	color: white;
	background-color: var(--color-body-background);
}

#sinopsis h1{
	
	font-size: 120px;
	text-align: center;
	letter-spacing: 2px;
}

#sinopsis h3{
	
	font-size: 30px;
	text-align: center;
	
}

.division-all-comic{
	
	width: 10%;
	text-align: center;
	margin-left: 45.3%;
	border-top: 1.8px solid var(--color-body-red);
	opacity: 1;
	border-radius: 30px;
}
.meetalteregocolumn h2{
	font-size: 50px;
}
.meetalteregoh2:hover{
	
    text-shadow: 
        0 0 10px rgba(206, 7, 232, 0.8);
}
.meetalteregocolumn{
	
	text-align: left;
	padding: 2% 10%;
	margin-top: 6%;
	font-size: 17px;
}
.imgsinopsis{
	margin-bottom: 8%;
}

#reviews{
	padding-top:30px ;
	padding-bottom:30px ;
	background-color: var(--color-body-background);
}

#reviews .section{
	background-color: var(--color-body-background);
	display: flex;
	justify-content: space-around;
	padding: 20px;
	margin-top: 20px;
}

#reviews .card{
	background-color: #a832a6;
	color: white;
	padding: 15px;
	border-radius: 8px;
	width: 30%;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	
}

#reviews .card h4{
	font-size: 1.2em;
	color: #ff3377;
}

#reviews .card p {
	font-size: 1em;
	text-align: left;
}

#reviews h2{
	text-align: center;
	color:var(--color-body-red);
	font-weight: 500;
	padding-bottom: 15px;
	padding-top: -25px;
	
}

.contact-section{
	background: var(--color-body-background);
	padding: 30px;
	text-align: center;
	color: white;
}

.contact-section input[type="text"],
.contact-section input[type="email"] {
	width: 80%;
	padding: 10px;
	margin: 10px 0;
	background-color: #222;
	color: #fff;
	border: 1px solid #555;
	border-radius: 5px;
}

.contact-section input[type="text"]:focus,
.contact-section input[type="email"]:focus {
	border: 1px solid #ff3377;
	outline: none;
}

/*form-edicion-----no lo editen, please c: --------------------------*/


#contact{
	background-color: var(--color-body-background);
	padding:20px;
	margin: 0px;
}

#contact .container{
	padding: 0;
}

#contact h2{
	font-size: 50px;
	text-align: center;
	letter-spacing: 2px;
	color: var(--color-body-red);

}


/*form-edicion-----no lo editen, please c: --------------------------*/


#contact .mc_embed_signup {
    background: var(--color-body-background) !important;
	font-size: 16px;
	font-family:"Afacad", Sans-Serif;
	font-weight: 500;
	border-radius: 8px;
	margin: 0 auto;
	max-width: 600px;
	
}


 #contact .mc-field-group label {
    color: var(--color-body-red);
}

#mc-embedded-subscribe {
	background-color: var(--color-body-red) !important;
	color: #fff;
	border: none;
}




.refferal_badge {
        filter: brightness(0) saturate(100%) invert(16%) sepia(96%) saturate(4289%) hue-rotate(328deg) brightness(91%) contrast(118%);
    }

/*form-edicion-----no lo editen, please c: --------------------------*/


footer{
	background-color: var(--color-hero-yellow);
	color: black;
	text-align: center;
	padding-top:30px;
	padding-bottom: 30px;
	margin-left: -15px;
	margin-right: -15px;
	font-size: 0.9em;
}

.footer a{
	color: black;
	margin: 0 10px;
	text-decoration: none;
}

.footer a:hover{
	color: #ff3377;
}

.linksfooter{
	
	margin-top:15px;
	
}




















/*Media Queries*/

@media (min-width: 1200px){
	
	
	
	
	
	
	
	
	
}






/*sm - Tableta*/
@media (min-width: 600px) and (max-width:1200px){
	
	.imgportada{
	
	margin-top: 10%;
	position: absolute;
	top: 6%;
	left: 52%;
	bottom: -10%;
		width:500px;
		margin-left: 10px;
}
	
	.imgsinopsis{
	margin-bottom: 8%;
	width:650px;
	height:650px;
		margin-top: 35%;
}
	
	.meetalteregoh2{
	
    font-size: 40px!important;
}
	
	.btn-outline-dark{
	
	font-weight: 700;
	font-size: 23px;
	position:absolute;
	right: 64%;
	bottom: 39%;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 16px;
	border: 4px solid #000;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, 1), 6px 6px 0 rgba(0, 0, 0, 1);
		align-content: center;
	
	}
	
	.navbar-brand.logoheader{
		
		margin-left:10px;
		
	}
	
	.twbtext{
		
		font-size: 17px;
		
	}
	
	#reviews{
		text-align: center;

	}
	
	#reviews .card{
		align-content: center;
		margin: auto;
		
	}
	
	
}


/*Cellular*/
@media (max-width:600px){
	
	.img-Navbarimg{
		width:auto;
		height:auto;
		
	}
	
	.navbar-toggler-icon{
		margin-left: 340px;
		background-color:#FFFFFF;
		margin-bottom: 3%;
		filter: invert(100%)
		
	}
	
	
	.navbar-nav{
		font-size: 12px;
		
		
	}
	
	header{
		padding:auto;
		
	}
		
	.imgportada{
	
	margin-top: 30%;
	position: absolute;
	top: auto;
	left: auto;
	bottom: -10%;
		width:auto;
		margin: auto;
		padding-top: 90px;
		margin-bottom: -250px;
		margin-left: -20px;
		
}
	
	#hero{
		padding-bottom: 700px;
		
		
		
	}
	
	#hero .img-fluid{
		
		width: auto;
		height: auto;
		
	}
	
	.imgsinopsis{
	margin-bottom: 8%;
	width:auto;
	height:auto;
		margin-top: 10%;
}
	
	.meetalteregoh2{
	
    font-size: 40px!important;
}
	
	.btn-outline-dark{
	
	font-weight: auto;
	font-size: 12px;
	position:absolute;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 16px;
	border: 4px solid #000;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, 1), 6px 6px 0 rgba(0, 0, 0, 1);
		align-content: center;
	margin-bottom: 550px;
	margin-left: 100px;
	margin-right:-100px ;
	}
	
	.navbar-brand.logoheader{
		
		margin-left:10px;
		
	}
	
	.twbtext{
		
		font-size: 17px;
		
	}
	
	#reviews{
		text-align: center;

	}
	
	#reviews .card{
		align-content: center;
		margin: auto;
		
	}
	
	
	
	
	
	
	
	
}




